@import "tailwindcss";

@theme {
  --red: #b80814;
  --green: #0e8c07;
  --beige: #f6d88e;
  --dot-color: #7aff7a;        /* eerie green glow */
  --flicker-strength: 0.12;
}
:root {
  font-family: 'Nosifer', 'Press Start 2P',Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #000;
}
body {
  font-family:'Press Start 2P';
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
  place-items: center;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;

  color: #000;
  background-image: radial-gradient(#ddb758 10%, #644909, #010313 70%);
  
  position: relative;

}

h1 {
  font-family: 'Nosifer';
  font-size: 2.8em;
  line-height: 1.3;
  font-weight:bold;
  text-shadow: 4px 7px 5px #000;
  color: var(--red);
}
p, label{
  font-size: 1em;
  color: var(--beige);
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.3em 1.2em;
  margin: 1em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--green);
  color: var(--beige);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
 box-shadow: 1px 1px 10px 2px #2de200;
}
button:focus,
button:focus-visible {
  background-color:  #25b301;
}
/*input form*/

input{
  background-color: #f9ebc6;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  cursor: pointer;
  border-radius: 8px;
  margin: 0.2em;
  font-size: 0.8em;;
}
input:hover, input:active{
  box-shadow: 1px 1px 10px 2px #2de200;
}
@layer utilities {
    @keyframes flicker {
    0%   { opacity: 0.95; filter: brightness(1); }
    8%   { opacity: 0.8;  filter: brightness(1.4); }
    15%  { opacity: 0.1;  filter: brightness(0.4); }
    22%  { opacity: 0.9;  filter: brightness(1.1); }
    32%  { opacity: 0.4;  filter: brightness(0.8); }
    40%  { opacity: 0.3;  filter: brightness(0.4); }
    56%  { opacity: 0.85; filter: brightness(1.5); }
    70%  { opacity: 0.2;  filter: brightness(0.4); }
    85%  { opacity: 0.9;  filter: brightness(1.2); }
    100% { opacity: 0.95; filter: brightness(1); }
  }
  .animate-flicker {
    animation: flicker 2.7s infinite steps(2, end);
  }
}
